.navbar-brand{
        img{
            height: 80px;
        }
}
.body{
    font-family: 'Poppins', sans-serif;
}

.d-flex{
    
    .btn{
        font-family: 'Poppins', sans-serif;
        background-color: #A53692;
        border-radius: 10px;
        color: wheat;
        
        &:hover{
            background-color: #CA42B3;
            box-shadow: 0px 15px 20px rgba(240, 81, 240, 0.4);
            transform: translateY(-7px);
            color: white; 
        }
        
    }
}

.carousel-item{
    img{
        height: 800px;
        object-fit: contain;
    }
}

.footer-lift{
    img{
        height: 100px;
    }
}
//footer

.container-bg{
    background-color: #ffddf9;
}